 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color:unset;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 25px;
  max-width: 1440px;
  margin: auto;
}
#logo {
  height: 40px;
  align-self: center;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu-item {
  padding: 30px 20px 30px 20px;
  font-size: 14px;
  border-top: white 2px solid;
}
.menu-item:hover {
  color: #0065FC;
  border-top: #0065FC 2px solid;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}
main {
  padding: 0px 20px 20px 20px;
  max-width: 1440px;
  margin: auto;
}
h1 {
  margin-top: 0px;
  font-size: 18px;
}
p {
  font-size: 12px;
  margin: 0;
}
.search {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-form{
  height: 40px;
  display: inline-flex;
  flex-wrap: nowrap;
}
.search-label-icon {
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-input {
  border: none;
  border-top:#F2F2F2 solid 1px;
  border-bottom:#F2F2F2 solid 1px;
  margin:0;
  padding-left: 10px;
  font-weight: bold;
}
.search-button-submission {
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #0065FC;
  padding: 2px 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.search-button-submission .search-button-icon {
  display: none;
}
.filters-container p {
  font-size: 14px;  
  font-weight:bold;
}
.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}
.filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border:#F2F2F2 2px solid;
  border-radius: 50px;
  font-weight: bold;
}
.filter-name {
  padding-left: 10px;
  padding-right: 10px;
}
.filter .filter-circle-icon {
  background-color: #DEEBFF;
  color: #0065FC;
  height: 40px;
  width:40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin: -2px;
}
.filter:hover{
  background-color:#0065FC;
  color: #ffffff;
  cursor: pointer;
}
.info {
  display: flex;
  align-items: baseline;
}
#info-icon {
  background-color: white;
  color: #0065FC;
  border: 1px solid #DCDCDC;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height:18px;
  text-align: center;
  font-size:10px;
  margin-right: 5px;
}
.middle-container {
  display: flex;
  justify-content: space-between;
}
.hebergements {
  background-color: #F2F2F2;
  width: 65%;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
}
h2 {
  font-size: 18px;
  margin:0;
}
.cards-container {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row; 
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card {
  background-color: white;
  border: solid white 3px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px  #a9a9a9;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.card a {
  width: 100%;
  height: 100%;
}
.card-image {
  height:90px;
}
.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 3px;
}
.card-title {
  font-size:12px;
  margin: 0;
}
.card-price {
  font-size: 12px;
}
.card-rating {
  font-size: 10px;
  color: #0065FC;
}
.grey-star {
  color:#F2F2F2;
}
.hebergements-link{
  font-weight: bold;
  font-size: 14px;
}
.populaires {
  background-color: #F2F2F2;
  width: 32%;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
}
.populaires-header {
  display:flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.populaires-icon {
  align-self: center;
}
.card-aside-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.card-aside a{
  border: solid white 3px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 2px 5px  #a9a9a9;
  height: 110px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.card-aside-image {
  width: 40%;
}
.card-aside-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-aside-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 10px 12px;
}
.activites {
 margin-top: 45px;
 margin-bottom: 20px;
}
.card-activites-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: space-between;
  height: 310px;
  margin-top: 15px;
}
.card-activites-image img {
  object-fit: cover;
  width: 100%;
  height:100%;
}
.card-activites-image {
  overflow: hidden;
  flex-grow: 1;
}
.card-activites-title {
  height: 35px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
h3 {
  font-size: 12px;
}
.card-activites{
  display:flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px  lightgray;
  border-radius: 20px;
  background-color: white;
  width: 22.75%;
  overflow: hidden;
}
.card-activites-two-third{
  height:55%;
}
.card-activites-one-third{
  height:35%;
}
.card-activites-full{
  height: 100%;
}
.card-activites-half{
  height:45%;
}
.footer-wrap{
  background-color: #F2F2F2;
} 
.footer{
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  font-size: 13px;
  max-width: 1440px;
  margin: auto;
  gap: 10%;
} 
h4 {
  font-size: 13px;
  font-weight: bold;
}
.footer-elements li {
  margin-bottom: 10px;
}
@media screen and (max-width:991px){
  .cards-container {
    justify-content: space-around;  
  }
  .card {
      width: 40%
    }
  .card-aside-container {
      height: 100%;
      gap: 20px;
  }
   .card-aside a{
      height: 140px;
  }
  .card-activites-title {
    height: 40px;
  }
}
@media screen and (max-width:767px){
  .header {
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
  }
  #logo {
    height: 55px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 22px;
  }
  .search p {
    font-size: 20px;
  }
  .menu-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50%;
    text-align: center;
    border-bottom: #F2F2F2 5px solid; 
    border-top: none;
  }
  .menu-item:hover {
    color: #0065FC;
    border-top: none;
    border-bottom: #0065FC 5px solid; 
  }
  .search-form{
    height: 60px;
    display: flex;
    width: 100%;
  }
  #search-input {
    width: 60%;
    padding-left: 20px;  
  }
  .search-label-icon {
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    width: 13%;
  }
  .search-button-submission {
    border-radius: 13px;
    position: relative;
    left: -13px;
    min-width: 60px;
  }
  .search-button-submission .search-button-icon {
    display: inline-block;
    font-size: 20px;
  }
  .search-button-text {
    display: none;
  }
  .filters-container p{
    width: 100%;
  }
  .filters-container {
    font-size: 20px;
  }
  .filter .filter-circle-icon {
    height: 60px;
    width:60px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 23px;
  }
  .filter-name {
    padding:0px 30px 0px 25px;
    white-space: nowrap;
  }
  .info p {
    font-size: 20px;
    max-width: 80%;
  }
  #info-icon {
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    font-size:18px;
    margin-right:10px;
  }
  main {
    padding: 0;
  }
  .card {
    width: 100%;
    height: 300px;
    border: solid white 5px;
  }
  .card-image {
    height: 65%;
  }
  .card-title {
    font-size: 20px;
  }
  .card-price {
    font-size: 20px;
  }
  .card-rating {
    font-size: 15px;
  }
  .middle-container {
    flex-direction: column;
  }
  .hebergements {
   background-color: white;
   border-radius:unset;
   flex-direction: column;
   order: 2;
   width: 100%;
  }
  .hebergements-link {
    font-size: 20px;
  }
  .card-body {
    gap: 8px;
  }
  .populaires {
    border-radius: unset;
    order: 1;
    width: 100%;
  }
  .populaires-icon {
   font-size: 25px;
  }
  .card-aside a{
    width: 100%;
    height: 200px;
    border: solid white 5px;
  }
   .activites {
    padding: 10px 20px 10px 20px;
  }
  .card-activites-container {
    flex-wrap: nowrap;
    height: auto
  }
  .card-activites {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .card-activites-image {
    height: 80%;
  }
  .card-activites-title {
    height: 20%;
  }
  .card-activites-title h3 {
    font-size: 20px;
  }
  .footer {
    flex-direction: column;
    font-size: 20px;
  }
}